{% extends "web/user_space/base.html" %}

{% block css %}
  <style type="text/css">
	div.note {
		   position: relative;
		   white-space: -moz-pre-wrap; /* Mozilla */
 	      	   white-space: -o-pre-wrap;   /* Opera 7 */
 	      	   white-space: pre-wrap;      /* CSS3 */
 	      	   word-wrap: break-word;      /* IE 5.5+ */ }
  </style>
{% endblock %}

{% block script %}
{% endblock %}

{% block right_main %}
  <h5>노트 상세 조회</h5>
  <div class="card border-light mb-3">
    <div class="card-header">{{ note.title }}</div>
    <div class="card-body">
{#      <h5 class="card-title">Light card title</h5>#}
      <div class="note">
        <p class="card-text">{{ note.note_content | tomboytohtml }}</p>
      </div>
      <p class="card-text small">Created Date: {{ note.create_date | date_transform }}<br>
      Modified Date: {{ note.last_change_date | date_transform }}</p>
    </div>
    <div class="card-footer">
      <!-- 쪽지 삭제 기능 -->
      <button class="btn btn-danger" id="note_delete">쪽지 삭제</button>
      <a class="btn btn-warning" href="{{ url_for('user_web_note_edit', username=note.user.username, note_id=note.id) }}">수정하기</a>
    </div>
  </div>
  <script type="text/javascript">
  document.querySelector("#note_delete").addEventListener("click", function (evt) {
    if (confirm('정말로 노트를 삭제하시겠습니까?')) {
      axios.delete('{{ url_for('user_web_note_delete', username=note.user.username, note_id=note.id) }}').then(function () {
        alert('노트가 삭제되었습니다')
      })
    }
  })
  </script>
{% endblock %}
